* {
	margin: 0;
	padding: 0;
	font-family: monospace;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
	position: relative;
}

/* Header styling */
header {
	display: flex;
	color: white;
	gap: 5px;
	flex-wrap: wrap;
	padding: 20px 50px;
	align-items: center;
	min-width: min-content;
	border-bottom: 1px solid #fc9898;
	background-color: #000000d6;
}

.search-div>input {
	flex: 1;
	padding: 5px;
	border-right: none;
	height: min-content;
	border-radius: 10px;
	background-color: #100f0f;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	border: none;
	color: #edaeae;
}

.not-found::placeholder {
	color: red;
}

button {
	padding: 5px 20px;
	height: min-content;
	border-radius: 10px;
	background-color: dimgrey;
	color: snow;
	outline: none;
	border: none;
}

.unit-div {
	display: flex;
	align-items: center;
}

.unit {
	font-weight: bold;
	font-size: 1.5rem;
}

h1 {
	font-size: 2.5rem;
	font-family: monospace;
}

.search-div {
	flex: 2;
	display: flex;
	max-width: 600px;
}

.title-div {
	flex: 1;
}

/* Main Styling */
main {
	flex: 1;
	display: grid;
	/* grid-template-columns: 3fr 1fr; */
}

.today-data-div {
	display: flex;
	flex-direction: column;
	padding: 5px 5px 0px 20px;
	flex: 1;
	background-color: #100f0f;
	justify-content: space-evenly;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	box-shadow: inset 0px 0px 20px 20px black;
}

.today-data-div>div:first-of-type,
.today-data-div>h2:first-of-type,
.temp-div>* {
	color: white;
}

.weather-desc {
	color: white;
}

.next-7days-div {
	flex: 2;
	grid-area: 2/1/3/2;
	display: flex;
	padding: 10px 5px 10px 20px;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #010000;
	gap: 10px;
}

.watchlist-div {
	flex: 1;
	padding: 15px 20px 5px 10px;
	grid-area: 1/2/3/3;
	background-color: #100f0f;
	position: relative;
}

.watchlist-div>h2 {
	text-align: center;
	text-decoration: underline;
	color: white;
}

ul {
	margin-top: 10px;
}

li {
	margin-top: 5px;
	padding: 20px 10px;
	list-style: none;
	background-color: #08040917;
}

.add-button {
	display: flex;
	align-items: center;
	padding-right: 30px;
	gap: 5px;
	padding-left: 20px;
	border: 1px solid rgb(233 184 184 / 50%);
}

.add-button>input {
	border: none;
	width: 100%;
	min-width: 95px;
	color: white;
	margin-left: 15px;
	background-color: initial;
}

.add-button>input:focus-visible {
	flex: 1;
	outline: none;
}

.city {
	padding: 7px 30px 7px 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: #ffebce;
	border: 1px solid #fc9898;
}

.city>div:first-of-type {
	display: flex;
	align-items: center;
}

.city>div:first-of-type>img {
	margin-right: 5px;
}

.delete {
	width: 20px;
	position: absolute;
	right: 10px;
	top: 5px;
	visibility: hidden;
}

.show-delete {
	visibility: visible;
}

.temp-range {
	display: flex;
	gap: 10px;
}

.temperature-div {
	display: flex;
}

.temperature {
	font-size: 4rem;
}

.temperature>.super-script {
	font-size: 2rem;
}

.desc-icon {
	width: 75px;
}

.minor-data-div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
}

.minor-data-div>* {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 15px;
	border-radius: 10px;
	color: #1a002a;
	color: white;
	font-weight: bold;
	min-width: fit-content;
	background-color: rgb(0 0 0 / 80%);
	border: 1px solid #fc9898;
}

.minor-data-div>*>img {
	width: 25px;
	height: 25px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: #ebcaca;
	background-color: #0b030ab0;
	padding: 2px 10px;
	border: 1px solid #fc9898;
	flex: 1;
	box-sizing: border-box;
}

.card>div>p:first-of-type {
	font-weight: bold;
	text-decoration: underline;
	font-size: 0.95rem;
}

.icon-div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.feels-like-temp {
	margin-top: -15px;
	margin-bottom: 10px;
}

/* Footer Styling */
footer {
	padding: 5px;
	text-align: center;
	color: white;
	margin-top: auto;
	border-top: 1px solid #fc9898;
	background-color: #000000d6;
}

.loader-container,
.loader-container-watchlist {
	position: absolute;
	width: 100%;
	height: 100%;
	/* backdrop-filter: blur(1px); */
	background-color: rgb(0, 0, 0, 0.5);
}

.loader-container-watchlist {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.loader,
.loader-watchlist {
	border: 10px solid #906262;
	border-radius: 50%;
	border-top: 10px solid #1d4d4f;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 1s linear infinite;
	position: absolute;
	top: 35%;
	left: 45%;
}

.loader-watchlist {
	border: 5px solid #906262;
	border-top: 5px solid #1d4d4f;
	width: 40px;
	height: 40px;
	top: 40%;
	left: 40%;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Uses flex-direction column for screen sizes below 600px */
@media screen and (max-width: 615px) {
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.today-data-div {
		padding: 5px 20px 10px 20px;
	}

	.next-7days-div {
		padding: 15px 20px 10px 20px;
	}

	.watchlist-div {
		padding: 15px 20px 10px 20px;
	}

	.loader-watchlist {
		top: 50%;
		left: 43%;
	}

	.loader {
		top: 40%;
		left: 40%;
	}
}