* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 20px 50px;
  align-items: center;
  min-width: min-content;
  border: 1px solid black;
}

input {
	flex: 1;
	padding: 5px;
	border-right: none;
	height: min-content;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
button {
	padding: 5px 20px;
	height: min-content;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
h1 {
	font-size: 2rem;
}

.search-div {
  flex: 2;
  display: flex;
  max-width: 600px;
}
.title-div {
	flex: 1;
}

/* Footer Styling */
footer {
  text-align: center;
  margin-top: auto;
}