* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 20px 50px;
  align-items: center;
  min-width: min-content;
  border: 1px solid black;
}
input {
	flex: 1;
	padding: 5px;
	border-right: none;
	height: min-content;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
button {
	padding: 5px 20px;
	height: min-content;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
h1 {
	font-size: 2rem;
}
.search-div {
  flex: 2;
  display: flex;
  max-width: 600px;
}
.title-div {
	flex: 1;
}

/* Main Styling */
main {
  flex: 1;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 3fr 1fr;
  border: 1px solid black;
}
.today-data-div {
  flex: 1.2;
  border: 1px solid black;
}
.next-7days-div {
  flex: 2;
  grid-area: 2/1/3/2;
  border: 1px solid black;
}
.watchlist-div {
  flex: 1;
  grid-area: 1/2/3/3;
  border: 1px solid black;
}

/* Footer Styling */
footer {
  text-align: center;
  margin-top: auto;
}